<!doctype html>
<html> 
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="Stylesheets/style.css">
        <title>MySmartHome UTILITY</title> 
    </head> 
    <body>
        <!---------------------------- Navbar ---------------------------->
        <nav class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container">
                <a href="/" class="navbar-brand"><strong>MySmartHome UTILITY</strong></a>
                <ul class="nav nav-pills bg-light navbar-light">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/devicestatus">Device Status</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Device Settings</a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="/adddevice">Add Device</a>
                            <a class="dropdown-item" href="/deletedevice">Delete Device</a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="/control">Controls</a>
                        </ul>
                    </div>
                    <a class="nav-link" href="/about">About</a>
                </ul>
            </div>
        </nav>
            
        <h1 class="headers"> MySmartHome UTILITY </h1> 
        <p class="headers">This is a dynamic web application that allows users to monitor and control devices in
            their smart home.
        </p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body> 
</html>