<!doctype html> 
<html> 
    <head> 
        <title>Create new user page!</title> 
    </head>
<body>
    <form action="/create-user" method="POST" >
        <h3 class="form-signin-heading">Welcome! Please Create a new ccount here!</h3>
        <input type="text" class="form-control" name="username" placeholder="Username" required=""/>
        <input type="text" class="form-control" name="email" placeholder="Email Address" required=""/>
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <button class="btn" name="Submit" value="Login" type="Submit">Login</button>
    </form>
</body>
</html>